<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>The Master Page</title>
    @RenderSection("HeaderScripts",false)
    <meta name="description" content="The description of my page" />
</head>
<body>
    <div>

    </div>

    <div>
        @RenderBody()
    </div>
    <div>

    </div>
</body>
</html>

