
<!DOCTYPE html>

<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bike registar</title>
     @RenderSection("HeaderScripts", false)
    <meta name="description" content="The description of my page" />
</head>
<body>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            @RenderBody()
        </div>
    </div>
</body>
</html>

<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/jquery-1.9.1.intellisense.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/JavaScriptExample.js"></script>